# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignora todo lo que no es necesario
.metadata
.settings
/app/bin
/app/.classpath
/app/.project
/app/.classpath
/app/.settings
/app/build
